.git
.github
.idea
.vscode
src/main/resources/compose/.env
target/classes/
target/generated-sources/
target/generated-test-sources/
target/maven-status/
target/failsafe-reports/
target/surefire-reports/
target/site/
target/test-classes/
target/*.jar.original
target/jacoco.exec
